header.site-header,
footer.site-footer,
footer.entry-footer,
header.entry-header .entry-meta,
aside.sidebar,
div.code-block,
div.footer-widgets,
div.nc_socialPanel,
div.vm-skin,
div[class^="ns-"],
div.vm-footer,
#comments,
#cto_banner_content,
#respond {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
}

main.content {
    padding: 0 !important;
    width: 100% !important;
    border-right: none !important;
}

/* DARK MODE */
body.dark,
body.dark main.content {
    background-color: #1d1b1f !important;
    color: #FFFBFE !important;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: #FFFBFE !important;
}

body.dark div.breadcrumb {
    background-color: #212529 !important;
}

/* FULL WIDTH */
body.full-width .site-inner .wrap{
    max-width: 95% !important;
}